cloud_id                 = "b1gajr1hep0b37vf4d3r"
folder_id                = "b1g04l4trvg3hhtmfab0"
image_id                 = "fd8404b9ajptpc7qcl92"
public_key_path          = "ubuntu.pub"
subnet_id                = "e9btm4hkjkbbq5gjbd48"
service_account_key_file = "key.json"
private_key_path         = "ubuntu"
